#top{
	background: url(../images/header-bg.png) repeat-x;
}
#logo{
	width: 120px;
	float: left;
}
#head{
	width:960px;
	height: 48px;
	margin:0px auto;
}
.navbar{
	/*width: 350px;*/
	float: left;
	margin-left: 45px;
	margin-bottom:0px;
}
.navbar .nav>li>a{
	color: #EEE;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	padding: 10px 11px 10px;
}
.nav .active{
	background: url(../images/selected-bg.png) no-repeat;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
	color: #EEE;
	text-decoration: none;
	background: none;
	box-shadow:none;
}
.navbar .nav>li>a:hover{
	box-shadow:none;
	color: #FFF;
	text-shadow:none;
}
.search{
	float: left;
	margin-left: 18px;
}
.search form{
	margin: 0px;
	padding-top:8px;
	position: relative;
}
.search form input{
	padding-right: 25px;
}
.search form .sub-search{
	position: absolute;
	top: 9px;
	right: 3px;
	background: none;
	border: none;
	height: 30px;
}
.tool-btn{
	float: right;
	margin-top: 8px;
	margin-right: 3px;
}
.tool-btn a{
	margin-right: 6px;
}
.login-status{
	width: 120px;
	height: 45px;
	float: right;
	position: relative;
	
}
.login-status a{
	color: #EEE
}
.login-status .account{
	width: 112px;
	height: 45px;
	line-height: 45px;
	color: #EEE;
	padding-left: 8px;
	position: absolute;
	left: 0px;
}
.login-status .active{
	background: url(../images/dd-menu-bg.png) no-repeat;
}
.login-status .account img{
	margin-right: 10px;
	border-radius: 3px;
}
.login-status .acc-func{
	position: absolute;
	left: 1px;
	top: 45px;
	margin: -1px;
}
.login-status .acc-func li a{
	display: block;
	width: 104px;
	height: 37px;
	line-height:37px;
	/*background: url(../images/dd-menu-bg.png) no-repeat;*/
	background-color: #0672c2;
	padding: 0px 8px;
	border-top:1px solid #006bbf;
	/*text-align: left;*/
}
.login-status .acc-func li a:hover{
	background-color: #027cc9;
}
.login-status .acc-func li a:hover{
	text-decoration: none;
}
.login-status .acc-func li i{
	padding-right: 8px;
}
#category{
	width: 960px;
	height: 161px;
	margin: 0px auto;
	border: #F2F2F2 solid;
	border-width: 0px 1px 1px;
	/*display: none;*/
	background: #fff;
	box-shadow: 0 1px 0 white inset,0 1px 3px rgba(0,0,0,.15);
}
#category div.cate-item{
	width: 240px;
	height: 40px;
	float: left;
	border-left:1px solid #F2F2F2;
	border-top:1px solid #F2F2F2;
	margin-left: -1px;
	padding: 20px 20px 20px 60px;
	background: url(../images/nav_icons_big.png) no-repeat 25px 20px;
}
#category div.img-none{
	background: none;
}
#category div.img-none a{
	display: inline-block;
	width: 73px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #DDD;
	margin-left:5px;
	text-align: center;
	color: #221919;
	border-radius: 2px;
}
#category div.img-none a i{
	padding-right: 3px;
}
#category div.img-none a:hover{
	text-decoration: none;
	border: 1px #698ebf solid;
}
#category div.cate-item li{
	float: left;
	line-height: 24px;
}
#category div.cate-item li a{
	color: #221919;
	line-height: 20px;
	padding: 2px 5px;
}
#category div.cate-item li a:hover{
	background-color: #EEE;
	color:#0672c2;
	text-decoration: none;
	border-radius: 2px;
}
#category div.img-2{
	background-position: 25px -78px;
}