<div id="footer">
  <div class="pull-right"><a href="#">关于Cica	da</a>•
<a href="#">帮助</a>•
<a href="#">商务合作</a>
  </div>
</div>
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tagsinput.min.js"></script><script type='text/javascript' src='/static/js/jquery-ui.min.js'></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css" />

<script type="text/javascript" src="/static/js/common.js"></script>