div#footer
	div.pull-right
		a(href='#') 关于Cica	da
		•
		a(href='#') 帮助
		•
		a(href='#') 商务合作

script(type='text/javascript',src='/static/js/jquery-1.7.2.min.js')
script(type='text/javascript',src='/static/js/bootstrap.min.js')
script(type='text/javascript',src='/static/js/jquery.tagsinput.min.js')
<script type='text/javascript' src='/static/js/jquery-ui.min.js'></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css" />
script(type='text/javascript',src='/static/js/common.js')