<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>首页</title>
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="/static/css/common.css" rel="stylesheet">
    <link type="text/css" href="/static/css/index.css" rel="stylesheet">
  </head>
  <body>{% include "base.html" %}

    <div id="content">
      <div id="new-post">
        <div class="div-header"><span class="pull-left"><i class="icon icon-th-list"></i>最新动态
</span>
        </div>
        <div class="recom-user">
          <p class="recom-func">我们推荐你关注这些人
<a href="#">换一批</a>
          </p>
          <div class="recom-list">
            <div class="recom-item">
              <div class="user-info"><img src="static/images/avatar.jpg">
                <div>
                  <p><a href="#">Cicada小二</a>
                  </p>
                  <p><span>35 个回答</span>
                  </p>
                </div>
              </div>
              <div class="signature">人之初，性本善</div>
              <div class="user-scopes">
                <p class="scope">生活 · 旅行领域活跃用户</p>
                <p><a class="btn btn-mini btn-success">关注</a>
                </p>
              </div>
            </div>
            <div class="recom-item">
              <div class="user-info"><img src="static/images/avatar.jpg">
                <div>
                  <p><a href="#">Cicada小二</a>
                  </p>
                  <p><span>35 个回答</span>
                  </p>
                </div>
              </div>
              <div class="signature">人之初，性本善</div>
              <div class="user-scopes">
                <p class="scope">生活 · 旅行领域活跃用户</p>
                <p><a class="btn btn-mini btn-success">关注</a>
                </p>
              </div>
            </div>
            <div class="recom-item">
              <div class="user-info"><img src="static/images/avatar.jpg">
                <div>
                  <p><a href="#">Cicada小二</a>
                  </p>
                  <p><span>35 个回答</span>
                  </p>
                </div>
              </div>
              <div class="signature">人之初，性本善</div>
              <div class="user-scopes">
                <p class="scope">生活 · 旅行领域活跃用户</p>
                <p><a class="btn btn-mini btn-success">关注</a>
                </p>
              </div>
            </div>
          </div>
        </div><a class="alert alert-info fresh-button">8条新动态</a>
        <div class="post-list">
          <div class="item">
            <div class="avatar"><img src="static/images/user-av.jpg">
            </div>
            <div class="item-info">
              <div class="follow"><span class="user"><a href="#">某人</a>关注该问题
</span><span class="time">1小时前</span>
              </div>
              <div class="question">
                <h5><a href="#">航班受到恐怖袭击威胁以后会采取哪些应急措施？</a>
                </h5>
              </div>
              <div class="follow-info"><a href="#" class="follow-me">关注问题</a><a href="#" class="comment">3 条评论</a><span class="space">•</span><a href="#" class="reply">6 个回答</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="avatar"><img src="static/images/user-av.jpg">
            </div>
            <div class="item-info">
              <div class="follow"><span class="user"><a href="#">某人</a>关注该问题
</span><span class="time">1小时前</span>
              </div>
              <div class="question">
                <h5><a href="#">航班受到恐怖袭击威胁以后会采取哪些应急措施？</a>
                </h5>
              </div>
              <div class="follow-info"><a href="#" class="follow-me">关注问题</a><a href="#" class="comment">3 条评论</a><span class="space">•</span><a href="#" class="reply">6 个回答</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="user-func"></div>
    </div>{% include 'footer.html' %}

  </body>
</html>