!!!5
html
	head
		meta(charset='utf-8')
		title 首页
		link(type='text/css',href="static/css/bootstrap.min.css",rel='stylesheet')
		link(type='text/css',href="static/css/bootstrap-responsive.min.css",rel='stylesheet')
		link(type='text/css',href="static/css/jquery.tagsinput.css",rel='stylesheet')
		link(type='text/css',href="static/css/jquery.autocomplete.css",rel='stylesheet')
		link(type='text/css',href="static/css/index.css",rel='stylesheet')
	body
		div#top
			div.modal.hide.fade.post-ques-dialog
				div.modal-header
					button.close(data-dismiss='modal',aria-hidden='true') &times;
					h3 提问
				div.modal-body.question-form
					form(method='post',action='/')
						div.qitem
							div.q-header
								label 写下你的问题：
							div.editor-div.ques-title(contenteditable='true')
						div.qitem
							div.q-header
								label 问题说明（可选）：
							div.qdesc-text
								div.editor-div.ques-desc(contenteditable='true')
						div.qitem
							div.q-header
								label 选择话题：
								span.tips 话题越精准，越容易让领域专业人士看到你的问题
							div.qtopic-text
								//- div.editor-div(contenteditable='true')
								<input name="tags" id="tags" value="" />

				div.modal-footer
					a.btn 取消
					a.btn.btn-primary.post-ques-btn 发布

			div#head
				div#logo
					a(href="index.html")
						img(src="static/images/logo.png")
				div.navbar
					ul.nav
						li.active
							a(href='/') 首页
						li
							a(href='#') 话题
						li
							a(href='#') 喜欢
						li
							a(href='#') 投票
				div.search
					form(action='localhost/search',method='post')
						input.search-input(type='text',value='输入话题，问题……',x-webkit-speech='x-webkit-speech',speech='speech')
						button.sub-search(type='submit')
							i.icon.icon-search
				div.login-status
					div.account
						img(src='static/images/no_avatar.jpg')
						span 希望之石
					ul.acc-func.hide
						li
							a(href='#')
								i.icon.icon-white.icon-user
								我的主页
						li
							a(href='#')
								i.icon.icon-white.icon-envelope
								私信
						li
							a(href='#')
								i.icon.icon-white.icon-cog
								设置
						li
							a(href='#')
								i.icon.icon-white.icon-off
								退出
				div.tool-btn
					a.btn.btn-info.show-cate
						i.icon.icon-white.icon-th-list
						分类
					a.btn.btn-info.post-ques
						i.icon.icon-white.icon-comment
						提问
		div#subnav_bg
			div#category
				div.cate-item.img-none
					a(href="#")
						i.icon.icon-time
						最新
					a(href="#")
						i.icon.icon-tint
						热门
					a(href="#")
						i.icon.icon-thumbs-up
						精选
				div.cate-item.img-1
						ul
							li
								a(href="#") 家居/装饰
							li
								a(href="#") 旅行/攻略
							li
								a(href="#") 美食/菜谱
							li
								a(href="#") 潮品/单品
							li
								a(href="#") 手工/布艺
				div.cate-item.img-2
						ul
							li
								a(href="#") 名人/明星
							li
								a(href="#") 音乐/电影/图书
							li
								a(href="#") 游戏
							li
								a(href="#") 美女
							li
								a(href="#") 趣味
							li
								a(href="#") 宠物
							li
								a(href="#") 童真
							li
								a(href="#") 动漫
				div.cate-item
				div.cate-item
				div.cate-item
		div#content
			div#new-post
				div.div-header
					span.pull-left
						i.icon.icon-th-list
						最新动态
				div.recom-user
					p.recom-func
						我们推荐你关注这些人
						a(href='#') 换一批
					div.recom-list
						div.recom-item
							div.user-info
								img(src='static/images/avatar.jpg')
								div
									p
										a(href='#') Cicada小二
									p
										span 35 个回答
							div.signature 人之初，性本善
							div.user-scopes
								p.scope 生活 · 旅行领域活跃用户
								p
									a.btn.btn-mini.btn-success 关注
						div.recom-item
							div.user-info
								img(src='static/images/avatar.jpg')
								div
									p
										a(href='#') Cicada小二
									p
										span 35 个回答
							div.signature 人之初，性本善
							div.user-scopes
								p.scope 生活 · 旅行领域活跃用户
								p
									a.btn.btn-mini.btn-success 关注
						div.recom-item
							div.user-info
								img(src='static/images/avatar.jpg')
								div
									p
										a(href='#') Cicada小二
									p
										span 35 个回答
							div.signature 人之初，性本善
							div.user-scopes
								p.scope 生活 · 旅行领域活跃用户
								p
									a.btn.btn-mini.btn-success 关注
				a.alert.alert-info.fresh-button 8条新动态
				div.post-list
					div.item
						div.avatar
							img(src='static/images/user-av.jpg')
						div.item-info
							div.follow
								span.user
									a(href='#') 某人
									关注该问题
								span.time 1小时前
							div.question
								h5
									a(href='#') 航班受到恐怖袭击威胁以后会采取哪些应急措施？
							div.follow-info
								a.follow-me(href='#') 关注问题
								a.comment(href='#') 3 条评论
								span.space •
								a.reply(href='#') 6 个回答
					div.item
						div.avatar
							img(src='static/images/user-av.jpg')
						div.item-info
							div.follow
								span.user
									a(href='#') 某人
									关注该问题
								span.time 1小时前
							div.question
								h5 
									a(href='#') 航班受到恐怖袭击威胁以后会采取哪些应急措施？
							div.follow-info
								a.follow-me(href='#') 关注问题
								a.comment(href='#') 3 条评论
								span.space •
								a.reply(href='#') 6 个回答
			div#user-func
		div#footer
			div.pull-right
				a(href='#') 关于Cica	da
				•
				a(href='#') 帮助
				•
				a(href='#') 商务合作
	script(type='text/javascript',src='static/js/jquery-1.7.2.min.js')
	script(type='text/javascript',src='static/js/bootstrap.min.js')
	script(type='text/javascript',src='static/js/jquery.tagsinput.min.js')
	//- script(type='text/javascript',src='static/js/jquery.autocomplete.min.js')
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
	script(type='text/javascript',src='static/js/index.js')