!!!5
html
	head
		meta(charset='utf-8')
		title 首页
		link(type='text/css',href="/static/css/bootstrap.min.css",rel='stylesheet')
		link(type='text/css',href="/static/css/bootstrap-responsive.min.css",rel='stylesheet')
		link(type='text/css',href="/static/css/common.css",rel='stylesheet')
		link(type='text/css',href="/static/css/index.css",rel='stylesheet')
	body
		{% include "base.html" %}
		div#content
			div#new-post
				div.div-header
					span.pull-left
						i.icon.icon-th-list
						最新动态
				div.recom-user
					p.recom-func
						我们推荐你关注这些人
						a(href='#') 换一批
					div.recom-list
						div.recom-item
							div.user-info
								img(src='static/images/avatar.jpg')
								div
									p
										a(href='#') Cicada小二
									p
										span 35 个回答
							div.signature 人之初，性本善
							div.user-scopes
								p.scope 生活 · 旅行领域活跃用户
								p
									a.btn.btn-mini.btn-success 关注
						div.recom-item
							div.user-info
								img(src='static/images/avatar.jpg')
								div
									p
										a(href='#') Cicada小二
									p
										span 35 个回答
							div.signature 人之初，性本善
							div.user-scopes
								p.scope 生活 · 旅行领域活跃用户
								p
									a.btn.btn-mini.btn-success 关注
						div.recom-item
							div.user-info
								img(src='static/images/avatar.jpg')
								div
									p
										a(href='#') Cicada小二
									p
										span 35 个回答
							div.signature 人之初，性本善
							div.user-scopes
								p.scope 生活 · 旅行领域活跃用户
								p
									a.btn.btn-mini.btn-success 关注
				a.alert.alert-info.fresh-button 8条新动态
				div.post-list
					div.item
						div.avatar
							img(src='static/images/user-av.jpg')
						div.item-info
							div.follow
								span.user
									a(href='#') 某人
									关注该问题
								span.time 1小时前
							div.question
								h5
									a(href='#') 航班受到恐怖袭击威胁以后会采取哪些应急措施？
							div.follow-info
								a.follow-me(href='#') 关注问题
								a.comment(href='#') 3 条评论
								span.space •
								a.reply(href='#') 6 个回答
					div.item
						div.avatar
							img(src='static/images/user-av.jpg')
						div.item-info
							div.follow
								span.user
									a(href='#') 某人
									关注该问题
								span.time 1小时前
							div.question
								h5 
									a(href='#') 航班受到恐怖袭击威胁以后会采取哪些应急措施？
							div.follow-info
								a.follow-me(href='#') 关注问题
								a.comment(href='#') 3 条评论
								span.space •
								a.reply(href='#') 6 个回答
			div#user-func
		{% include 'footer.html' %}
	