<!DOCTYPE html>
<html>
  <head>
    <title>{{request.user.nickname}}-个人中心</title>
  </head>
  <body>
    <div class="avatar">
      <form method="post" action="" enctype="multipart/form-data">
        <input id="file" type="file" name="avatar">
      </form>
    </div><link rel="stylesheet" type="text/css" href="/static/plugins/uploadify/uploadify.css" />

    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/plugins/uploadify/jquery.uploadify.min.js"></script>
    <script>$('#file').uploadify({
 "swf":"/static/plugins/uploadify/uploadify.swf",
 'uploader' : '/profile/'
 })

</script>
  </body>
</html>